@using NetBanking.Core.Application.ViewModels.Dashboard;
@model DashboardViewModel;

@{
    ViewData["Title"] = "Index";
}

<head>
    <script src="https://kit.fontawesome.com/7302c44b99.js" crossorigin="anonymous"></script>
</head>

<div class="container-fluid">
    <div class="col-4 offset-1">
        <div class="card bg-light">
            <div class="card-body">
                <h5 class="text-dark">Active users right now:</h5>
                <div class="d-flex align-items-center">
                    <i class="fas fa-users fa-2x text-info mr-2"></i> <!-- Icono de usuarios -->
                    <h3 class="card-text text-dark">@Model.ActiveClients</h3> <!-- Número de usuarios -->
                </div>
            </div>
        </div>
    </div>
</div>


<style>
    #card {
        border-radius: 6px;
    }

    .card {
        border-radius: 20px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease;
    }

    .cardstatistics:hover {
        transform: translateY(-5px);
        box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
    }
</style>