@using NetBanking.Core.Application.ViewModels.Beneficiary;
@model List<BeneficiaryViewModel>;

<a class="btn btn-primary" asp-action="AddBeneficiary">Add Beneficiary</a>
@if (Model != null | Model.Count > 0)
{
    <table class="table">
        <thead>
        <td>
            Beneficiario
        </td>
        <td>
            Cuenta
        </td>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.BeneficiaryUser.FirstName @item.BeneficiaryUser.LastName
                    </td>
                    <td>
                        @item.BeneficiaryAccountId
                    </td>
                    <td>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h1>
        No hay Beneficiarios Registrados
    </h1>
}

