@using NetBanking.Core.Application.ViewModels.Users;
@model ResetPasswordViewModel;

<div class="container-fluid">
    <div class="row">
        <div class="col-4 offset-4">
            <div class="card">
                <div class="card-header">
                    <h4 class="text-center fw-bold">Reset your password</h4>
                </div>
                <div class="card-body shadow-sm">
                    @if (Model.HasError)
                    {
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <strong>@Model.Error</strong>
                            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                        </div>
                    }
                    <form type="post" asp-controller="User" asp-action="ResetPasswordAsync">
                        <div class="mb-3">
                            <label asp-for="Email" class="form-label ">Type the email:</label>
                            <input asp-for="Email" type="email" class="form-control" \>
                            <span asp-validation-for="Email" class="text-danger"></span>

                        </div>
                        <div class="mb-3">
                            <label asp-for="Password" class="form-label ">Password:</label>
                            <input asp-for="Password" type="password" class="form-control">
                            <span asp-validation-for="Password" class="text-danger"></span>

                        </div>
                        <div class="mb-3">
                            <label asp-for="ConfirmPassword" class="form-label ">Confirm your password:</label>
                            <input asp-for="ConfirmPassword" type="password" class="form-control">
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                        <input type="hidden" asp-for="Token" />
                        <div class="mt-2">
                            <button asp-route-id="@Model.Token" type="submit" class="float-end btn btn-primary ms-2">Reset</button>
                            <a asp-controller="User" asp-action="Index" class="float-end btn btn-warning">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>